<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BLM Book Shop</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/PaddysCafe.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation to the webbookpage -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">BLM BookShop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#Home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#BookShop">About BLM BookShop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Audiobooks">Where to find Audiobooks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="" class="bg-light">    <!--  -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                 <h2 class="text-uppercase section-heading"> #Black Lives Matter Books  </h2>
                <p class="lead">Select a book from the below Options.</p>
         
            <a href="/bookarts/new" class="btn btn-dark">Add new books</a>
             <div class="col-lg-12 text-center"> <p> </p>   </div>
             
 
 <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Book</th>
                            <th>Price€</th>
                            <th>Award Category</th>
                            <th>Review</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  call mondodbAtlas called REST/ bookschema
                            "ejs tags that allow for you to embed a Javascript expression whose evaluation (return value) will be added to the template when compiled"
                            the understanding code has been sourced from Availability: https://ejs.co/#docs . -->
                        <% partsbooks.forEach(part => { %><!--Used to output the return value of an expression into the document-->
                        <tr>
                            
                            <td> <%= part.item %> </td>
                            <td> <%= part.price %> </td>
                            <td>  <%= part.name %>  </td>
                
                            <td>
                                <!--   Calling my api/routes/bookarts/EDIT BACKEND via put. -->
                            
                                  <a href="/bookarts/edit/<%= part.id %>"  >
                                <button class="btn btn-warning" style="margin-left: 5px;" type="submit"><i class="fa fa-pencil"  style="font-size: 15px;">edit
                                </i></button>
                            </a>
                            <!--the following code  has been sourced from title: How To Build A Markdown Blog Using Node.js, Express, And MongoDB 
                                Author: Web Dev Simplified Availability: https://www.youtube.com/watch?v=1NrHkjlWVhM-->
                                <!--   Calling my api/routes/bookarts/DELETE BACKEND via post. -->
                                <form action="/bookarts/<%= part.id %>?_omethod=DELETE" method="POST" class="d-inline"  >
                                <button type="submit" class="btn btn-danger" style="margin-left: 5px;" style="font-size: 15px;">delete
                                </button>
                               </form>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container text-center"><span class="text-muted">&copy; 2021</span></div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="js/PaddysCafe.js"></script>
    <script>
    //     not in use anymore
    //window.addEventListener("load", function() {
    //         document.forms[1].txtBillAmt.value = calculateBill('menuTable');
    //         document.querySelector("#calcBill").addEventListener("click", function() {
    //             document.forms[1].txtBillAmt.value = calculateBill('menuTable');
    //         });
    //         document.querySelector("#showVeg").addEventListener("click", function() {
    //             highlightVegetarian('menuTable', this.checked);
    //         });
    //     });
     </script>
</body>

</html>